<script type="text/template" id="brewery_template">
    <h3>Bryggeri</h3>
    <table>
        <tr>
            <th>Navn</th>
            <td><%= name %></td>
        </tr>
        <% if (website) { %>
        <tr>
            <th>Webside</th>
            <td><a href="<%= website %>" target="_blank"> <%= website %></a></td>
        </tr>
        <% } %>
        <% if (comment) { %>
        <tr>
            <th>Kommentar</th>
            <td><%= comment %></td>
        </tr>
        <% } %>
        <tr>
            <th>Adresse</th>
            <td><%= street || '' %> <%= address || '' %></td>
        </tr>
    </table>

   <!-- <a href="<%= link %>">Mer info</a>-->
</script>

<script type="text/template" id="menu_element_template">
    <li id="map_<%=id%>"><a href="#"><%= title %></a></li>
</script>

<script type="text/template" id="pol_template">
    <h3>Polutsalg</h3>
    <table>
        <tr>
            <th>Navn</th>
            <td><%= butikknavn %></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td><%= gateadresse %>, <%= gate_postnummer %> <%= gate_poststed %></td>
        </tr>
        <tr>
            <th>Kategori</th>
            <td><%= kategori %></td>
        </tr>
        <tr>
            <th>Åpningstider</th>
            <td>
                <ul>
                    <li>Mandager: <%= apn_mandag %></li>
                    <li>Tirsdager: <%= apn_tirsdag %></li>
                    <li>Onsdager: <%= apn_onsdag %></li>
                    <li>Torsdager: <%= apn_torsdag %></li>
                    <li>Fredager: <%= apn_fredag %></li>
                    <li>Lørdager: <%= apn_lordag %></li>
                </ul>
            </td>
        </tr>
    </table>
</script>

<script type="text/template" id="pubs_template">
    <h3>Pub</h3>
    <%= name %>
</script>