{% extends "base.html" %}

    {% block css %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet/dist/leaflet.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet.markercluster/dist/MarkerCluster.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet.markercluster/dist/MarkerCluster.Default.css')}}">

    <style type="text/css">
        .leaflet-control-sok {
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
        }

    </style>
    {% endblock %}

    {% block main %}
    <div id="map" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 map">
    </div>
    {% endblock %}

    {% block templates %}
        {% include('js_templates/map_templates.html') %}
    {% endblock %}


    {% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/dist/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/underscore/underscore-min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet/dist/leaflet.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet.markercluster/dist/leaflet.markercluster.js')}}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/adressesok.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/BeerMap.js')}}"></script>

    <script type="text/javascript">

        function getLocation(callback, err) {
            $.get('http://ip-api.com/json', function (e) {
                if (e.status === 'success') {
                    callback([e.lat, e.lon], 9);
                } else {
                    err();
                }
            });
        }


        (function () {
            'use strict';

            var templates = {
                breweries: _.template($('#brewery_template').html()),
                pol: _.template($('#pol_template').html()),
                pubs: _.template($('#pubs_template').html())
            };

            var mappings = {
                breweries: function (properties) {
                    properties.link = '/breweries/' + encodeURIComponent(properties.name);
                    return properties;
                }
            };

            var defaults = {
                breweries: {
                    website: null,
                    address: null,
                    street: null,
                    comment: null
                }
            };

            var layers = {{maps | safe }};

            var beermap = new BeerMap(layers, templates, mappings, defaults);

            getLocation(
                beermap.setupMap,
                function (){
                    beermap.setupMap([65.5, 17.0]);
                }
            );

        }());
    </script>
    {% endblock %}