{% extends "base.html" %}

    {% block main %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <h1>Øl i nærheten</h1>
        <div class="row">
            <div class="col-md-2">
                <button id="geoloc" class="btn btn-primary" type="button">Finn min posisjon</button>
            </div>
            <div class="col-md-1">
                eller
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input id="search" type="text" class="form-control" placeholder="Søk etter adresse..">
                    <span class="input-group-btn">
                        <button id="searchButton" class="btn btn-default" type="button">SØK</button>
                    </span>
                </div>
                <div id="search_results" class="list-group"></div>
            </div>
        </div>
        <div id="results" class="hidden">
            <div>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <span id="place"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Puber</h3>
                    <div id="pubs" class="list-group"></div>
                </div>
                <div class="col-md-4">
                    <h3>Bryggerier</h3>
                    <div id="breweries" class="list-group"></div>
                </div>
                <div class="col-md-4">
                    <h3>Polutsalg</h3>
                    <div id="pol" class="list-group"></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block templates %}
        <script type="text/template" id="distance_element_template">
        <a href="/route?dataset=<%= dataset %>&id=<%= id %>&lat=<%= pos.lat %>&lon=<%= pos.lon %>" class="list-group-item"><%= name %> <span class="badge"><%= distance %>km</span></a>
        </script>
    {% endblock %}

    {% block script %}
        {{super()}}
        <script type="text/javascript">

            (function () {
                'use strict';

                var nameAttrs = {{name_attrs | safe}};

                var pos;

                function getAddresse(lat, lon, callback) {
                    var url = 'http://crossorigin.me/http://ws.geonorge.no/AdresseWS/adresse/radius?nord=' + lat +'&aust=' + lon + '&radius=0.1';
                    $.get(url, callback);
                }

                function getNearby(lat, lon, callback) {
                    pos = {lat: lat, lon: lon};
                    var url = '/get_nearby?lat=' + lat +'&lon=' + lon;
                    $.get(url, callback);
                }

                var template = _.template($('#distance_element_template').html());

                function getMapper(dataset, nameProp) {
                    return function (item) {
                        return template({
                            name: item.properties[nameProp],
                            distance: item.properties.distance.toFixed(1),
                            dataset: dataset,
                            id: item.properties.id,
                            pos: pos
                        });
                    };
                }

                var datasets = ['pol', 'pubs', 'breweries'];

                var types = _.reduce(datasets, function (acc, key) {
                    acc[key] = getMapper(key, nameAttrs[key]);
                    return acc;
                }, {});

                function showNearby(addr, lat, lon) {
                    $('#results').removeClass('hidden');
                    $('#place').html(addr);

                    getNearby(lat, lon, function (res) {
                        _.each(types, function (mapper, key) {
                            $('#' + key).html(_.map(res[key].features, mapper));
                        });
                    });
                }

                $('#searchButton').on('click', function () {
                    $('#results').addClass('hidden');
                    var value = $('#search').val();
                    var url = 'http://crossorigin.me/http://ws.geonorge.no/AdresseWS/adresse/sok?sokestreng=' + encodeURIComponent(value) + '&side=0';
                    $.get(url, function (res) {
                        res = JSON.parse(res);
                            var res = _.map(res.adresser, function (adresse) {
                                var value = adresse.kortadressenavn + ' ' + (adresse.husnr || '')  + ' ' + (adresse.bokstav || '');
                                var li = $('<a href="#" class="list-group-item">' + value + '</li>');
                                li.on('click', function () {
                                    showNearby(value + ' ' + adresse.poststed, adresse.nord, adresse.aust);
                                    $('#search_results').html('');
                                });
                                return li;
                            }, this);
                            $('#search_results').html(res);
                    });
                })

                $('#geoloc').on('click', function () {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        getAddresse(position.coords.latitude, position.coords.longitude, function (res) {
                            res = JSON.parse(res);
                            var adresse = res.adresser[0];
                            var addr = adresse.kortadressenavn + ' ' + (adresse.husnr || '')  + ' ' + (adresse.bokstav || '') + ' ' +adresse.poststed;
                            showNearby(addr, position.coords.latitude, position.coords.longitude)
                        });
                    });
                });

            }());
        </script>
    {% endblock %}