{% extends "base.html" %}

    {% block css %}
    {{super()}}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet/dist/leaflet.css')}}">
        <style type="text/css">
        .chart rect {
          fill: steelblue;
        }

        .chart text {
          fill: white;
          font: 10px sans-serif;
        }

        .chart text.number {
          text-anchor: end;
        }

        .chart text.text {
          fill: black;
        }

        #map {
            height: 400px;
            width: 100%;
        }
        </style>
    {% endblock %}


    {% block main %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <h1>Statistikk</h1>

        <h2>Bryggerier</h2>
        <h3>Innbyggere pr bryggeri, bunn 10</h3>
        <svg class="chart chart-breweries-bottom"></svg>

        <h3>Innbyggere pr bryggeri, topp 10</h3>
        <svg class="chart chart-breweries-top"></svg>


        <h2>Pol</h2>
        <h3>Innbyggere pr pol, bunn 10</h3>
        <svg class="chart chart-pol-bottom"></svg>

        <h3>Innbyggere pr pol, topp 10</h3>
        <svg class="chart chart-pol-top"></svg>

        <h2>Pub</h2>
        <h3>Innbyggere pr pub, bunn 10</h3>
        <svg class="chart chart-pubs-bottom"></svg>

        <h3>Innbyggere pr pub, topp 10</h3>
        <svg class="chart chart-pubs-top"></svg>

        <h2>Hexmap</h2>
        <ul id="layertabs" class="nav nav-tabs"></ul>
        <div id="map"></div>
    </div>
    {% endblock %}

    {% block script %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet/dist/leaflet.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hexmap.js')}}"></script>

    <script type="text/javascript">
        (function () {
            'use strict';

            var stats = {{stats | safe}};

            function sortData(data, key) {
                return data.sort(function compare(a, b) {
                    if (a[key] < b[key]) {
                        return -1;
                    }
                    if (a[key] > b[key]) {
                        return 1;
                    }
                    // a must be equal to b
                    return 0;
                });
            }

            function calc(data) {
                return _.map(data, function (d) {
                    var pop_by_num = d.population / d.num;
                    d.pop_by_num = pop_by_num;
                    return d;
                });
            }

            var keys = ['breweries', 'pol', 'pubs'];

            _.each(keys, function (key) {
                var calculated = sortData(calc(stats[key]), 'pop_by_num');
                renderChart(_.first(calculated, 10), 'chart-' + key + '-bottom');
                renderChart(_.first(calculated.reverse(), 10), 'chart-' + key + '-top');
            });

            renderHexmap(stats.hex);

        }());

    </script>

    {% endblock %}