{% extends "base.html" %}

    {% block css %}
    {{super()}}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet/dist/leaflet.css')}}">
        <style type="text/css">
        .chart rect {
          fill: steelblue;
        }

        .chart text {
          fill: white;
          font: 10px sans-serif;
        }

        .chart text.number {
          text-anchor: end;
        }

        .chart text.text {
          fill: black;
        }

        #map {
            height: 400px;
            width: 100%;
        }
        </style>
    {% endblock %}


    {% block main %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <h1>Statistikk</h1>

        <h2>Bryggerier pr kommune</h2>
        <svg class="chart chart-breweries"></svg>

        <h2>Pol pr kommune</h2>
        <svg class="chart chart-pol"></svg>

        <h2>Puber pr kommune</h2>
        <svg class="chart chart-pubs"></svg>

        <h2>Hexmap</h2>
        <ul id="layertabs" class="nav nav-tabs"></ul>
        <div id="map"></div>
    </div>
    {% endblock %}

    {% block script %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet/dist/leaflet.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hexmap.js')}}"></script>

    <script type="text/javascript">
        (function () {
            'use strict';

            var stats = {{stats | safe}};

            renderChart(_.first(stats.breweries, 10), 'chart-breweries');
            renderChart(_.first(stats.pol, 10), 'chart-pol');
            renderChart(_.first(stats.pubs, 10), 'chart-pubs');


            renderHexmap(stats.hex);

        }());

    </script>

    {% endblock %}